/*Contains admin view style sheets*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////Admin////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Admin classes*/
.admin {
	width: 100%;
	border: solid 1px #CECFCE;
	font-size:12px;
}

/*Admin ul*/
.admin ul {
	list-style: none;
}

/*Admin title*/
.admin .title{
	background-color: #f6f6f6;
	font-weight: bold;
	font-size: 14px;
	color: #596171;
	padding: 5px;
	border-bottom: solid 1px #CECFCE;
	position: relative;
}

/*Admin div*/
.admin div {
	padding: 5px;
}

/*Admin href*/
.admin a {
	color: #005B9A;
}

/*Admin label*/
.admin .label {
	font-weight: bold;
}

/*Admin note*/
.admin .note {
	font-style: italic;
	color: #8D96A8
}

/*Admin h4 and h5*/
.admin h4, .admin h5 {
	display:inline;
	color: #666666;
}

/*Admin h4*/
.admin h4 {
	font-size: 12px;
}

/*Admin h5*/
.admin h5 {
	font-size: 10px;
}

/*Error*/
span.error {
	font-weight: bold;
	color: #CE0000;
}

/*Admin actions*/
.actions {
	clear:both;
	border-top:solid 1px #f0f0f0;
	border-bottom:solid 1px #f0f0f0;
	background-color: #fcfcfc;
	line-height: 20px;
}

/*Table*/
.admin table {
	border-collapse: collapse;
}

/*Th and Td*/
.admin th, .admin td {
	padding: 5px;
}

/*Th*/
.admin th {
	padding-bottom: 2px;
	text-align:left;
	font-size:14px;
}

/*Dialogs list*/
.dialog ul, .dialog li {
	font-size: 12px;
	list-style: none;
}

/*Dialogs list*/
.dialog li {
	margin-bottom: 5px;
}

/*Table*/
table.list {
    border-collapse:collapse
}

/*Table*/
table.list, .list td, .list th {    
	 border: solid 1px #e6EEEE;	/*MyCode*/
}

/*Table*/
.list td, .list th {
    padding: 4px;
}

/*MyCode*/
/*Rows*/
.row0 {
    background-color: #eeeeee;
}

.row1 {
    background-color: #fafafa;
}

/*Table*/
.list th.id, .list td.id {
	display: none;
}

/*Colorbox close icon*/
#cboxClose {
	display:none !important;
}

/*Colorbox content*/
#cboxContent{
	background-color: #FFCC99;
}

/*Ajax indicator*/
.ajax-indicator {
	display:none;
	background-image: url(../img/admin-ajax-indicator.gif);
	width: 35px;
	height:35px;
}

/*Horizontal list*/
.horizontal-list {clear:both;}

/*Horizontal list ul*/
.horizontal-list ul {
	display:block;
	width:100%;
	clear:both;
	margin:auto;
	list-style-type: none;
}

/*Horizontal list li*/
.horizontal-list li {
	clear:both;
	display: inline-block;
	list-style-type: none;
	min-width:165px;
	margin-right:20px;
}

/*Labels*/
label.label-top, .label-top label {
	display: block;
	clear:left;
	font-size:.9em;
}

/*Update buttons*/
.admin-update-buttons{
	margin-top:5px;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////Schedules////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Textarea in manage schedules view*/
#changeLayoutDialog textarea {
	width: 300px;
	height: 375px;
}

/*Paragraph in manage schedules view*/
#changeLayoutDialog p {
	margin: 0;
}

/*Layout in manage schedules view*/
.scheduleDetails .layout {
	border-left:solid 1px #f0f0f0;
	float:right;
	width:550px;
}

/*Static slots*/
#staticSlots {
	height: 375px;
}

/*Daily slots*/
#dailySlots, #tabs {
	height: 450px;
	margin-bottom:4px;
}

/*All day layouts*/
.allDailyLayouts {
	display:none;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////Resources////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*No image resource*/
.noImage {
	width: 98px;
	height: 60px;
	background-color: #f0f0f0;
	line-height: 16px;
	text-align:center;
	color: #666;
	border: solid 1px #ccc;
}

/*Image in resource view*/
.resourceDetails img.image {
	width: 100px;
}

/*Group of resources*/
#group-tree {
	width:auto;
	float:left;
}

/*Resource list*/
#resource-list
{
	width:auto;
	float:right;
}

/*Resource list*/
#resource-list, #group-tree, #new-group {
	font-size:12pt;
}

/*Draggable resource*/
.resource-draggable {
	cursor: move;
	border: solid 1px transparent;
	padding:3px;
}

/*Draggable resource: hover*/
.resource-draggable:hover
{
	border: dotted 1px #666;
}

/*Drop resource*/
.drop-resource {
	background-color: #fffcd3;
}

/*Resource group ul*/
ul.jqtree-tree .group-resource .jqtree-title {
	color:#111111;
}

/*Remove resource*/
.remove-resource {
	display:inline;
	width:16px;
	margin-left:10px;
	background: url(../img/minus-circle.png) no-repeat 50%;
}

/*Resource list h4*/
#resource-list h4
{
	font-size:13pt;
	padding-left:4px;
}

/*Resource group container*/
#manage-resource-groups-container
{
	max-width: 700px;
}

/*Resource item*/
.resourceItem {
	display:block;
}

/*Status reason*/
.reservationResourceStatusReason {
	display:block;
	font-weight: bold;
}

/*Status reason li*/
ul.resource-status-reasons li {
	padding: 5px 5px;
}

/*Status reason ul*/
ul.resource-status-reasons {
	padding-bottom: 20px;
	padding-top: 5px;
}

/*Inline update*/
.inlineUpdate:hover {
	background-color: #fff;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////User////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Table in manage users view*/
#groupUserList {
	overflow-y: auto;
}

/*Editable table in manage user view*/
.list tr.editable:hover {
	cursor: pointer;
	/*background-color: #FFFF99;*/ /*MyCode*/
	background-color: #c5e4f1;
}

/*MyCode*/
/*.list tr.clicked:hover, .list tr.clicked  {*/
	/*background-color: #FFFF33;*/
/*}*/

/*Custom attributes in manage users view*/
.userList .customAttributes {

    font-size: 9pt;
    font-weight: normal;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////Reservation////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Pending reservation*/
tr.pending {
	background-color: #ffb540;
}

/*Wide label*/
.wideLabel { display:inline-block; min-width: 100px;}

/*MyCode*/
/*#addAttribute {*/
    /*width: 300px;*/
/*}*/

/*Wide label for attributes dialog*/
.attributeDialog .wideLabel {
    min-width: 160px;
    text-align: right;
    padding-right: 4px;
}

/*Textbox options*/
.attributeDialog .textBoxOptions {
	padding-bottom: 10px;
}

/*Reservation table*/
#reservationTable {
	width:100%;
}

/*Dates header*/
th.date {
	width:120px;
}

/*Action header*/
th.action {
	max-width:50px;
}

/*Filter buttons*/
#adminFilterButtons {
	padding-top:5px;
	margin-top:15px;
	clear:both;
	border-top: solid 1px #cfcfcf;
}

/*Filter fields*/
.filterTable input, .filterTable textarea, .filterTable select
{
	width:150px;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////Blackout////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Table in manage blackouts view*/
#blackoutTable
{
    width: 100%;
}

/*Resource*/
.resourceValue {
	font-weight: bold;
}

/*Recurrence*/
#repeatDiv, #repeatDiv div {
	padding:0;
}

/*Recurrence label*/
#repeatDiv label {
	display: inline-block;
	min-width: 100px;
}

/*Weekly label*/
#repeatOnWeeklyDiv label {min-width:30px;}

/*Update blackout*/
#updateBlackout {
	margin:20px;
}

/*Update blackout list*/
#updateBlackout ul{
	margin-bottom:15px;
	list-style: none;
}

/*Resources selected*/
.blackoutResources {
	margin: 10px 0;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////Configuration////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Config settings*/
#configSettings {
	margin: 10px 0;
	padding: 10px;
	border: solid 1px #333333;
}

/*Fieldset in config settings view*/
#configSettings fieldset {
	margin-bottom: 10px;
}

/*Label in config settings view*/
#configSettings .label, #configSettings label {
	font-weight: normal;
	font-size: 12px;
	color: black;
}

/*Label in config settings view*/
#configSettings .label {
	min-width: 200px;
	display: inline-block;
}

/*Config settings li*/
.config-settings li {
	padding:3px 0;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////Dialogs////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#removedGroups {
	margin-top: 5px;
	padding-top: 5px;
	border-top: solid 1px #777777;
}

#addedGroups a, #removedGroups a {
	width:30px;
	display:block;
	float: left;;
	text-decoration: none;
}

#addedGroups a {
	background: url('../img/minus-gray.png') no-repeat;
}

#removedGroups a {
	background: url('../img/plus-button.png') no-repeat;
}

/*MyCode*/
#removedResources {
	margin-top: 5px;
	padding-top: 5px;
	border-top: solid 1px #777777;
}

#addedResources a, #removedResources a {
	width:30px;
	display:block;
	float: left;;
	text-decoration: none;
}

#addedResources a {
	background: url('../img/minus-gray.png') no-repeat;
}

#removedResources a {
	background: url('../img/plus-button.png') no-repeat;
}


#removedMembers {
	margin-top: 5px;
	padding-top: 5px;
	border-top: solid 1px #777777;
}

#addedMembers a, #removedMembers a {
	width:30px;
	display:block;
	float: left;;
	text-decoration: none;
}

#addedMembers a {
	background: url('../img/minus-gray.png') no-repeat;
}

#removedRoles {
	margin-top: 5px;
	padding-top: 5px;
	border-top: solid 1px #777777;
}

#addedRoles a, #removedRoles a {
	width:30px;
	display:block;
	float: left;;
	text-decoration: none;
}

#addedRoles a {
	background: url('../img/minus-gray.png') no-repeat;
}

#removedRoles a {
	background: url('../img/plus-button.png') no-repeat;
}

#removedStatus {
	margin-top: 5px;
	padding-top: 5px;
	border-top: solid 1px #777777;
}

#addedStatus a, #removedStatus a {
	width:30px;
	display:block;
	float: left;;
	text-decoration: none;
}

#addedStatus a {
	background: url('../img/minus-gray.png') no-repeat;
}

#removedStatus a {
	background: url('../img/plus-button.png') no-repeat;
}

#removedTimes {
	margin-top: 5px;
	padding-top: 5px;
	border-top: solid 1px #777777;
}

#addedTimes a, #removedTimes a {
	width:30px;
	display:block;
	float: left;;
	text-decoration: none;
}

#addedTimes a {
	background: url('../img/minus-gray.png') no-repeat;
}

#removedTimes a {
	background: url('../img/plus-button.png') no-repeat;
}


/*************************************************************************************************************************************************************/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////Help////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Help title*/
.title .help {
	background: url(../img/question-button.png) no-repeat 50% 50%;
	width:16px;
	cursor: pointer;
	position: absolute;
	right:0;
	top:0;
	margin:0;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////Attributes////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Header*/
#customAttributeHeader {
	font-size: 13pt;
	margin-bottom: 10px;
}

/*Textbox options*/
.textBoxOptions div {
	margin: 1px 0;
}

/*Choices*/
#entityChoices {
	display: none;
	min-width:150px;
	border: solid 1px #e2e2e2;
	padding: 10px;
	max-height: 400px;
	overflow-x: auto;
	overflow-y: visible;
	position: absolute;
	z-index: 10000;
	background-color: #f5f5f5;
	-moz-box-shadow: 0px 0px 3px 0px #ccc;
	-webkit-box-shadow: 0px 0px 3px 0px #ccc;
	box-shadow: 0px 0px 3px 0px #ccc;
}

/*Choices list*/
#entityChoices li
{
	list-style: none;
	font-size:10pt;
}