.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "All";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Self";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

#CalendarFilterTable
{
	margin-left:38%; 
    margin-right:40%;
	/*margin-bottom:50px;*/
}

#CalendarFilterTable.th, #CalendarFilterTable.td {
    padding: 150px;
}

/*Not Used*/   
.styled-select{
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
   
/*Not Used*/   
.styled-select2{
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #EEEEEE; /* fallback color if gradients are not supported */
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Fx (3.6 to 15) */
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of IE 10*/
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */ 
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#HeaderTable
{
	margin-left:45%; 
    margin-right:50%;
}

/*Login*/
.column-left{ float: left; width: 25%; position: absolute;}
.column-right{right: 3%; width: 25%; position: absolute;}
.column-center{ margin: 0 auto; width: 33%;}
.container{position:relative;}

/* begin styles for RSS Feed */
.rss-box {
	 margin: 1em;
	 width: 98%;
	 background-color: #F0EBE1;
	 border: 1px solid #DCC8AA;
	 
}
.rss-items {
	margin-top:0px;
	padding:0.5em; 0.5em;
	margin-left:0px;
	color:#000000;
}
p.rss-title {padding:0.5em;}
.rss-title {
	font-size: 8pt;
	background-color: #990000;
	color: #FFFFFF;
	font-weight:bold;
	text-align: left;
}

.rss-item  {
  font-size: 7pt;
  list-style:none;
  padding-bottom:1em;
}

.rss-item a {
	color:navy;
	font-size: 8pt;
	font-weight:bold;
	}
	
.rss-item a:visited {
	color: black;
}

.rss-date {
	font-size: 7pt;
	color: #990033;
	}
 
/* buttons modeled from http://www.wellstyled.com/css-inline-buttons.html */

.pod-play {
   _width:12em;
   margin: 0 0.2em; padding: 0.1em 0; _padding:0;
   
   white-space:nowrap;
   text-decoration: none;
   vertical-align:middle;
   background: #fb6;
   color: black;
   }
.pod-play em {
   _width:1em; _cursor:hand;
   font-style: normal;
   margin:0; padding: 0.1em 0.5em;
   background: white;
   color: #222;
   }
.pod-play span {
   _width:1em; _cursor:hand;
   margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
   }
.pod-play:hover {
   background: #666;
   color: white;
   }
.pod-play:hover em {
   background: black;
   color: white
   }

/*Reservation*/   
.reservationHeader
{
	text-align: center;
	color: #FF9933;
}

#reservationForm
{
	 background-color: #CC9966;
}

#reservationFormDiv
{
	 overflow:hidden;
	 background-color: #CC9966;
}

#reservationDetailsRight{
	margin-bottom: 10px;
	margin-right: 10px;
}

#reservationDetailsLeft{
	margin-left: 20px;
}

/*Login*/
#login
{
	 background-color: #FFCC99;
}

/*Input*/
#input
{
	background-color: #FF9966;
}

/*Header*/
#HeaderUserName{
	display:inline;
	color: #000099;
}

#HeaderNotSignedIn{
	display:inline;
	color: #FF0000;
}

